---
layout: subpage
title: Columbia Springs Labradoodle Girls
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/sadie_profile.png" alt="Sadie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8" >
                        <h2>Spring Creek's Dance Me a Memory ("Sadi")</h2>
                        <h3>ALAA-027412</h3>
                        <div class="profile_summary">

                          {% include _bios/sadi.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/sadi.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/nana_profile.jpg" alt="Nana Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>Spring Creek&#8217;s Stellar Kiss ("Nana")</h2>
                        <h3>ALAA-036928</h3>
                        <div class="profile_summary">

                          {% include _bios/nana.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/nana.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/addie_profile.jpg" alt="Addie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>Columbia Springs&#8217; Adelyn ("Addie")</h2>
                        <h3>ALAA-041322</h3>
                        <div class="profile_summary">

                          {% include _bios/addie.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/addie.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/daisy_profile.jpg" alt="Daisy Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>Columbia Springs' Emma’s Big Surprise ("Daisy")</h2>
                        <h3>ALAA-042321</h3>
                        <div class="profile_summary">

                          {% include _bios/daisy.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/daisy.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/josie_profile.jpg" alt="Josie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>Columbia Springs' Clementine ("Josie")</h2>
                        <h3>ALAA-044668</h3>
                        <div class="profile_summary">

                          {% include _bios/josie.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/josie.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>