---
layout: subpage
title: Columbia Springs Labradoodle Girls
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{base}}/images/headshots/sadie_profile.png" alt="Sadie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8" >
                        <div class="profile_summary">

                          {% include _bios/sadi.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/sadi.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{base}}/images/headshots/nana_profile.jpg" alt="Juniper Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="profile_summary">

                          {% include _bios/juniper.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/juniper.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{base}}/images/headshots/nana_profile.jpg" alt="Scarlet Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="profile_summary">

                          {% include _bios/scarlet.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/scarlet.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{base}}/images/headshots/addie_profile.jpg" alt="Addie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="profile_summary">

                          {% include _bios/addie.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/addie.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{base}}/images/headshots/daisy_profile.jpg" alt="Daisy Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="profile_summary">

                          {% include _bios/daisy.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/daisy.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{base}}/images/headshots/josie_profile.jpg" alt="Josie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="profile_summary">

                          {% include _bios/josie.html %}

                        </div>
                        <div class="profile_stats">
                        <br>

                          {% include _stats/josie.html %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
