---
layout: subpage
title: Puppy Availability
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/addie_profile.jpg" alt="Addie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8 coming_litter" >
                        <h2>Adelyn ("Addie")</h2>
                        <h2>Puppies expected Fall 2016</h2>
                        <br>
                        <p>

                            {% include _litters/addie.html %}

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/daisy_profile.jpg" alt="Daisy Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8 coming_litter" >
                        <h2>Emma's Surprise ("Daisy")</h2>
	                    <h2>Puppies expected Fall/Winter 2016</h2>
	                    <br>
	                    <p>

                            {% include _litters/daisy.html %}

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/josie_profile.jpg" alt="Josie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8 coming_litter">
                        <h2>Clementine ("Josie")</h2>
                        <h2>Puppies expected Spring 2017</h2>
	                    <br>
                        <p>

                            {% include _litters/josie.html %}

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
