---
layout: subpage
title: Puppy Availability
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/addie_profile.jpg" alt="Addie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8 coming_litter" >

                        {% include _litters/addie.html %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/daisy_profile.jpg" alt="Daisy Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8 coming_litter" >

                        {% include _litters/daisy.html %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/headshots/josie_profile.jpg" alt="Josie Profile" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8 coming_litter">

                        {% include _litters/josie.html %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
